body {
    font-family: "Inter", sans-serif;
}

header {
    font-family: "Montserrat", sans-serif;
}

main {
    background-image: url('img/fundoTopo.png');
    background-size: cover;
    background-position: center;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.marquee-inner {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-inner span {
    padding-right: 4rem; /* Espaço entre as repetições */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}