body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: fit-content;
    border-top: 1rem solid #172554;
    border-bottom: 3px solid #e5e7eb;
    color: #37bd85;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        padding: 1rem;
        font-size: 2rem;
    }

    & img {
        width: 5rem;
        padding: 1rem;
    }
}

main {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

.title {
    width: fit-content;
    margin: 1rem auto 0 auto;

    & strong {
        padding: 0 1rem;
        border-bottom: 3px solid #172554;
        color: #172554;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.principal {
    width: 100%;
    height: fit-content;
    min-height: 50rem;
    background-image: url('img/fundoTopo.png');
    background-size: cover;
    background-position: bottom;    
    color: #fff;
    border-radius: 3rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;

    & h3 {
        width: 100%;
        padding: 0 .5rem;
        margin: 2rem auto;
        text-align: center;
        font-size: 1.8rem;
    }

    & p {
        width: 80%;
        margin: 1rem auto;
        text-align: start;
        font-size: 1.5rem;
    }
}

.containers {
    width: 80%;
    height: fit-content;
    background-color: #e5e7eb;
    padding: .5rem;
    border-radius: 2rem;
    margin: 0 auto 2rem auto;

    & img {
        width: fit-content;
        padding: 1rem;
        margin: 0 auto;
    }

    & p {
        width: fit-content;
        padding: .5rem;
        margin: 0 auto;
        color: #172554;
        font-size: 1.3rem;

        & strong {
            color: #16a368;
        }
    }
}

.valor {
    width: 70%;
    height: fit-content;
    padding: .5rem;
    border: 4px solid #172554;
    border-radius: 1.5rem;
    margin: 0 auto 1rem auto;
    color: #172554;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 100%;
    height: 5rem;
    background-color: #f3f4f6;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & a {
        width: 3.5rem;
        height: 3.5rem;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all .5s;
    }

    & a:hover {
        background-color: #d1d5db;
    }
}

footer {
    width: 100%;
    height: 3rem;
    background-color: #fff;
    padding: 1rem;
    border-top: 4px solid #e5e7eb;
    color: #172554;
    font-size: 1.125rem;;
    position: fixed;
    bottom: 0;
    display: none;

    & strong {
        color: #37bd85;
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.marquee-inner {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-inner span {
    padding-right: 4rem; /* Espaço entre as repetições */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    header {
        & p {
            font-size: 3rem;
        }

        & img {
            width: 6rem;
        }
    }

    main {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            top: -11vh;

            & strong {
                height: 10vh;
            }
        }
    }

    .principal {
        width: 80%;
        min-height: 27rem;
        background-image: url('img/fundoTopo_Paisagem.png');
        margin: auto;

        & #h3inicio {
            width: 60%;
            padding: 0 1rem;
            margin: 2rem 0;
            font-size: 2.5rem;
        }

        & p {
            width: 45%;
            padding-bottom: 1rem;
            margin: 0 2rem;
        }

        #row-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }

    .containers {
        width: 20%;
        height: 60%;

        & img {
            width: 12rem;
            height: 12rem;
        }

        & p {
            width: fit-content;
            padding: .5rem;
            margin: 0 auto;
            font-size: 1vw;
            text-align: center;

            & strong {
                font-size: 1vw;
            }
        }
    }

    aside {
        width: fit-content;
        height: 25rem;
        padding: 1rem 2vw;
        border-radius: 1rem;
        margin: auto;
        position: relative;
        flex-direction: column;
    }

    footer {
        display: flex;
        align-items: center;
    }
}