body {
    font-family: "Inter", sans-serif;
}

header {
    font-family: "Montserrat", sans-serif;
}

main {
    background-image: url('img/fundoTopo.png');
    background-size: cover;
    background-position: center;

    & h1 {
        font-size: clamp(.6rem, 1.6vw + .6rem, 2rem);

        & strong {
            box-shadow: #959da533 0px 8px 24px;
            color: rgb(23 37 84 / var(--tw-bg-opacity, 1));
        }
    }

    & h3 {
        font-size: clamp(1rem, 2vw + 1rem, 3rem);
    }

    & p {
        font-size: clamp(1rem, 2vw + 1rem, 3rem); 
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.marquee-inner {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-inner span {
    padding-right: 4rem; /* Espaço entre as repetições */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}