body {
    font-family: "Inter", sans-serif;
    /* color: linear-gradient(90deg,#001780 0%, #37bd85 100%); */
}

header {
    font-family: "Montserrat", sans-serif;
    color: #37bd85;
    /* background-color: #172554 */
    background-color: #fff;
}

main {
    background-image: url('img/fundoTopo.png');
    background-size: cover;
    background-position: center;

    & h1 {
        font-size: clamp(.6rem, 1.6vw + .6rem, 2rem);

        & strong {
            /* box-shadow: #959da533 0px 8px 24px; */
            color: rgb(23 37 84 / var(--tw-bg-opacity, 1));
            border-bottom: 3px solid #172554;
        }
    }

    & h3 {
        font-size: clamp(1rem, 2vw + 1rem, 3rem);
    }

    & p {
        font-size: clamp(1rem, 1vw + 1rem, 2.5rem);
        color: rgb(23 37 84 / var(--tw-bg-opacity, 1));
    }

    & strong {
        color: #16a368;
    }
}

footer {
    border-top: 4px solid #e5e7eb;
    color: #37bd85;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.marquee-inner {
    display: inline-flex;
    animation: marquee 20s linear infinite;
}

.marquee-inner span {
    padding-right: 4rem; /* Espaço entre as repetições */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
