<aside class="bg-gray-100 w-full h-16 p-4 absolute bottom-0 right-0 flex flex-row justify-evenly items-center fixed
                md:w-24 md:h-96 md:top-[30vh] md:right-[3vw] md:flex-col md:rounded-2xl">
    <a href="index.html" class="bg-gray-300 w-12 h-12 p-4 md:h-12 md:w-12 rounded shadow">
        <img src="img/iconHome.png">
    </a>
    <a href="equipamento.html" class="bg-white w-12 h-12 p-4 rounded shadow hover:bg-gray-300">
        <img src="img/iconInfo.png">
    </a>
    <a href="resultado.html" class="bg-white w-12 h-12 p-4 rounded shadow hover:bg-gray-300">
        <img src="img/iconHeart.png">
    </a>
</aside>